# --- TELEGRAM BOT ---
python-telegram-bot[job_queue]==20.0

# --- DANE RYNKOWE I ANALIZA ---
pandas
pandas_ta
numpy

# --- AI I SENTIMENT (FinBERT) ---
transformers
torch
scipy
openai

# --- GRAFIKA I WYKRESY ---
matplotlib
Pillow

# --- NARZĘDZIA DODATKOWE ---
requests
python-dotenv
feedparser
flask
tensorflow
scikit-learn
xgboost

# --- BAZA DANYCH ---
libsql
libsql-client
